.enter {
  transform: scale(0.9);
}

.enterActive {
  transform: scale(1);
  transition: all 250ms linear;
}

.exit {
  transform: scale(1);
}

.exitActive {
  transform: scale(0.9);
  transition: all 250ms linear;
}
