.logoWrap {
  text-align: center;
  background: #646464;
  padding: 20px;
  margin-bottom: 20px;
}

.logo {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 22px;
  font-weight: 100;
  font-weight: bold;
}

.title {
  composes: logoWrap;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
  font-weight: 100;
}
